.main-banner {
  height: 38rem;
  border-radius: 2.4rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-banner img {
  width: 100%;
  object-fit: contain;
}
