/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after,
input,
button,
textarea,
select {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #f0f2f9;
}

:root {
  --color-spring: #ffb4d9;

  --primary-color: #9694ff;
  --secondary-color: #7d7bf5;

  --color-summer: #a8c5e5;
  --color-autumn: #ffd366;
  --color-winter: #9694ff;
}

[data-theme="spring"] {
  --primary-color: #ffb4d9;
  --secondary-color: #ff9ccf;
}

[data-theme="summer"] {
  --primary-color: #a8c5e5;
  --secondary-color: #7db9e8;
}

[data-theme="autumn"] {
  --primary-color: #ffd366;
  --secondary-color: #ffb54c;
}

[data-theme="winter"] {
  --primary-color: #9694ff;
  --secondary-color: #7d7bf5;
}

.main {
  max-width: 100vw;
  padding: 11rem 2.4rem 2.4rem 2.4rem;
  display: flex;
  gap: 2.4rem;
}
