.sidebar {
  background: linear-gradient(
    180deg,
    var(--primary-color) 0%,
    var(--secondary-color) 100%
  );
  width: 25.6rem;
  height: fit-content;
  padding: 2.4rem;
  border-radius: 2.4rem;
  flex-shrink: 0;
}

.menu {
  margin-top: 2.4rem;
}

.menu-list {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.menu-item {
  padding: 0 1.6rem;
  height: 4.8rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  gap: 1.2rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.9);
}

.menu-item.theme {
  position: relative;
  padding-left: 4.2rem;
}

.menu-item.theme::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 1.6rem;
  transform: translateY(-50%);
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
}

.menu-item.theme.spring::after {
  background-color: var(--color-spring);
}

.menu-item.theme.summer::after {
  background-color: var(--color-summer);
}

.menu-item.theme.autumn::after {
  background-color: var(--color-autumn);
}

.menu-item.theme.winter::after {
  background-color: var(--color-winter);
}

.menu-item.active {
  background-color: rgba(255, 255, 255, 0.9);
  color: var(--primary-color);
}

.menu-item.theme.active {
  color: #ffffff;
}

.menu-item.active.spring {
  background: linear-gradient(180deg, var(--color-spring) 0%, #f87cba 100%);
}

.menu-item.active.summer {
  background: linear-gradient(180deg, var(--color-summer) 0%, #7db9e8 100%);
}

.menu-item.active.autumn {
  background: linear-gradient(180deg, var(--color-autumn) 0%, #ffb54c 100%);
}

.menu-item.active.winter {
  background: linear-gradient(180deg, var(--color-winter) 0%, #7d7bf5 100%);
}
