.sidebar {
  background: linear-gradient(
    180deg,
    var(--primary-color) 0%,
    var(--secondary-color) 100%
  );
  width: 25.6rem;
  height: fit-content;
  padding: 2.4rem;
  border-radius: 2.4rem;
  flex-shrink: 0;
}
